
#header {
	position: relative;
	height: 80px;
	width: 100%;
	background-color: white;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
  }

#content{
	height: 650px;
	background-color: #A9E3F0;
  }

#login {
	float: left;
	width: 300px;
	height: 350px;
	background-color: white;
	position: relative;
	top: 15%;
	left: 10%;
	margin: 0 auto;
	border-radius: 25px;
	border: 3px solid black;
  }
  
.login_heading {
	background-color: grey;
	padding-top: 5.5px;
	padding-bottom: 5.5px;
	margin-top: -1.8px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
  }

#signup {
	float:right;
	width: 300px;
	height: 540px;
	background-color: white;
	position: relative;
	top: 15%;
	right: 10%;
	margin: 0 auto;
	border-radius: 25px;
	border: 3px solid black;
  }
  
input[type="submit"] {
	background-color: lightgreen;
	border-radius: 25px solid black;
	width: 220px;
	padding-left: 50px;
	padding-right: 50px;
	height: 30px;
}